<div class="row">
<div class="large-12 columns">
  <h1>Listing tracks</h1>

  <table class="datatable">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>Duration</th>
        <th>Start location</th>
        <th>End location</th>
        <th>Distance (kms)</th>
        <th>Min Speed (km/h)</th>
        <th>Max Speed (km/h)</th>
        <th>Min Height (m)</th>
        <th>Max Height (m)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tracks.each do |track| %>
        <tr id='track-<%= track.id %>'>
          <td><%= track.start_date %></td>
          <td><%= format_duration track.duration %></td>
          <td><%= track.start_location %></td>
          <td><%= track.end_location %></td>
          <td><%= track.distance %></td>
          <td><%= track.min_speed %></td>
          <td><%= track.max_speed %></td>
          <td><%= track.min_height %></td>
          <td><%= track.max_height %></td>
          <td>

            <%= link_to zurb_icon('Show'), track %>
            <%= link_to zurb_icon('Edit'), edit_track_path(track) %>
            <%= link_to zurb_icon('fi-compass', 'Reverse Geocode'), reverse_geocode_url(track), remote: true, class: 'reverse-geocode' %>
            <%= link_to zurb_icon('Destroy'), track, method: :delete, data: { confirm: 'Are you sure?' } %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Track', new_track_path %>
</div>
</div>

<%= content_for(:scripts) do %>
<script type="text/javascript">
$(document).ready(function() {
  $('a.reverse-geocode').on('click',function(){
    $(this).parent('tr').spin();
    $(this).parent('tr').find('a').css('pointer-events','none');
  }).on('ajax:success ajax:error', function(){
    $(this).parent('tr').spin(false);
    $(this).parent('tr').find('a').css('pointer-events','all');
  });
});
</script>
<% end %>