<div class="row notice">
  <p id="notice"><%= notice %></p>
</div>
<div class="info">
  <div>
    <p>
      <b>Title:</b>
      <%= @track.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @track.description %>
    </p>

    <p>
      <b>Start location:</b>
      <%= @track.start_location %>
    </p>

    <p>
      <b>End location:</b>
      <%= @track.end_location %>
    </p>

    <p>
      <b>Date:</b>
      <%= @track.start_date %>
    </p>

    <!-- <p>
      <b>End date:</b>
      <%#= @track.end_date %>
    </p> -->

    <p>
      <b>Duration:</b>
      <%= format_duration @track.duration %>
    </p>

    <p>
      <b>Distance:</b>
      <%= @track.distance %> km <br />
<!--       (straight: <%#= @data.distance_aerial %> kms) -->
    </p>

<!--     <p>
      <b>Bearing:</b>
      <%#= @data.bearing %>
    </p> -->

    <p>
      <b>Min Speed:</b>
      <%= @track.min_speed %> km/h
    </p>

    <p>
      <b>Max Speed:</b>
      <%= @track.max_speed %> km/h
    </p>

    <p>
      <b>Min Height:</b>
      <%= @track.min_height %> m
    </p>

    <p>
      <b>Max Height:</b>
      <%= @track.max_height %> m
    </p>

    <p>
      <b>Basename:</b>
      <%= link_to basename(@track.track.path), @track.track.url %>
    </p>

    <%= link_to 'Edit', edit_track_path(@track) %> |
    <%= link_to 'Back', tracks_path %>
  </div>
</div>
<div id="map"></div>
<div id="chartdiv"></div>

<%#= render "graph" %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var map = L.map('map', {
        center: [51.505, -0.09],
        zoom: 13
      });
      L.tileLayer('<%= Leaflet.tile_layer %>', {
        attribution: '<%= Leaflet.attribution.html_safe %>',
        maxZoom: <%= Leaflet.max_zoom %>
      }).addTo(map);
      var track = new Track('<%= track_path(@track, format: :json) %>',map);
      track.addListener('track-loaded',function(){
        track.plot('chartdiv')
      });
    });
  </script>
<% end %>