<div class="row notice">
  <p id="notice"><%= notice %></p>
</div>
<div class="info">
  <div>
    <p>
      <b>Title:</b>
      <%= @track.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @track.description %>
    </p>

    <p>
      <b>Start location:</b>
      <%= @track.start_location %>
    </p>

    <p>
      <b>End location:</b>
      <%= @track.end_location %>
    </p>

    <p>
      <b>Start date:</b>
      <%= @data.first.time %>
    </p>

    <p>
      <b>End date:</b>
      <%= @data.last.time %>
    </p>

    <p>
      <b>Duration:</b>
      <%= format_duration @data.duration %>
    </p>

    <p>
      <b>Distance:</b>
      <%= @data.distance %> kms <br />
      (straight: <%= @data.distance_aerial %> kms)
    </p>

    <p>
      <b>Bearing:</b>
      <%= @data.bearing %>
    </p>

    <p>
      <b>Min Speed:</b>
      <%= @data.min_speed %>
    </p>

    <p>
      <b>Max Speed:</b>
      <%= @data.max_speed %>
    </p>

    <p>
      <b>Min Height:</b>
      <%= @data.min_height %>
    </p>

    <p>
      <b>Max Height:</b>
      <%= @data.max_height %>
    </p>

    <p>
      <b>Basename:</b>
      <%= link_to basename(@track.track.path), @track.track.url %>
    </p>

    <%= link_to 'Edit', edit_track_path(@track) %> |
    <%= link_to 'Back', tracks_path %>
  </div>
</div>
<div id="map"></div>
<div id="chartdiv"></div>

<script>
 /* this is the map */
 map = new OpenLayers.Map("map", {
   controls: [
     /* add controls to the map */
     new OpenLayers.Control.PanZoomBar(),
     new OpenLayers.Control.LayerSwitcher({'ascending':false}),
     new OpenLayers.Control.TouchNavigation(),
     new OpenLayers.Control.KeyboardDefaults(),
     // new OpenLayers.Control.Permalink('permalink'),
     // new OpenLayers.Control.OverviewMap(),
   ]});
 var mapnik = new OpenLayers.Layer.OSM();
 map.addLayer(mapnik);


 // Transform from WGS 1984 to Spherical Mercator Projection
 var fromProjection = new OpenLayers.Projection("EPSG:4326"); 
 var toProjection   = new OpenLayers.Projection("EPSG:900913");

 <%= render :partial => "tracks/line.html", :locals => {:data => @data} %>
 <%= render :partial => "tracks/points.html.erb", :locals => {:data => @data} %>
 <%= render :partial => "tracks/boundaries.html", :locals => {:data => @data} %>

 // this has to remain the last instruction in the code, apparently
 map.setCenter(start, 8);
</script>
<%= render :partial => "graph" %>
